# RabbitMQ Connection
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# Microservices Ports
ORDER_SERVICE_PORT=3001
PAYMENT_SERVICE_PORT=3002
INVENTORY_SERVICE_PORT=3003
NOTIFICATION_SERVICE_PORT=3004
ANALYTICS_SERVICE_PORT=3005

# Downstream URLs (Used by Order Service in Sync HTTP Mode)
PAYMENT_SERVICE_URL=http://localhost:3002
INVENTORY_SERVICE_URL=http://localhost:3003
NOTIFICATION_SERVICE_URL=http://localhost:3004
ANALYTICS_SERVICE_URL=http://localhost:3005

# Payment Simulation Parameters
PAYMENT_FAILURE_RATE=0.2
PAYMENT_LATENCY_MS=1200

# Benchmark Configuration
ORDER_SERVICE_HOST=localhost
BENCHMARK_TOTAL_REQUESTS=100
BENCHMARK_CONCURRENCY=20
